body {
    background: #005bb0;
    background: -webkit-linear-gradient(to right, #006db0, #3dc4c9);
    background: linear-gradient(to right, #006db0, #3d98c9);
    min-height: 100vh;
    padding-top: 20px;
  }
  
  .text-gray {
    color: #aaa;
  }

  .badge-margin-left-240{
    margin-left: 240px;
  }